:root {
    --main-color: #fff;
    --hero-color: #dadbf1;
    --nav-bg: #000000;
    --link-color: #4c5fd5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: var(--nav-bg);
}

nav .left-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .left-nav a {
    text-decoration: none;
    color: var(--main-color);
}

.vertical-line {
    display: inline-block;
    height: 25px;
    border-left: 1px solid var(--main-color);
}

nav .right-nav button {
    display: flex;
    cursor: pointer;
    padding: 10px 18px;
    border-radius: 7px;
}

nav .right-nav button:nth-child(1) {
    color: var(--main-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
    transition: .2s;
    margin-right: 10px;
}

nav .right-nav button:nth-child(1):hover {
    background-color: rgba(255, 255, 255, 0.212)
}

nav .right-nav button:nth-child(2) {
    color: var(--main-color);
    background-color: var(--link-color);
    border: none;
    transition: .2s;
}

nav .right-nav button:nth-child(2):hover {
    color: var(--nav-bg);
    background-color: var(--main-color);
}

/* burger */

.hidden {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
}

.hamburger {
    display: none;
}

.visible {
    display: flex !important; 
}

/* hero section */
.hero {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hero-color);
}

.hero-content {
    width: 100%;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    border: 1px solid var(--nav-bg);
    border-radius: 15px;
    width: 60%;
    margin: 0 auto;
}

input[type="search"] {
    font-family: 'Poppins', sans-serif;;
    border: none;
    background: transparent;
    width: 100%;
    margin: 0;
    padding: 14px;
    border: 1px solid transparent;
    border-radius: inherit;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/></svg>") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

button[type="submit"]:hover {
    opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
    border-color: none;
    outline: none;
}

::placeholder {
    font-size: 14px;
}

/* section */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

img {
    max-width: 50px;
    height: auto;
}

.features {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: fit-content;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-basis: calc(40% - 10px);
    height: fit-content;
}

.content-text {
    width: 100%;
}

.content-text h1 {
    font-size: 16px;
}

.content-text p {
    font-size: 16px;
    width: 20em;
    margin: 7px 0;
}

.content-text a {
    font-size: 16px;
    text-decoration: none;
    transition: .2s;
}

.content-text a:hover {
    text-decoration: underline;
}

.fa-arrow-right {
    margin-left: 5px;
}

/* footer */
footer {
    padding: 90px;
    background-color: var(--nav-bg);
    color: var(--hero-color);
}

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.footer-content-header {
    margin-bottom: 15px;
}

.footer-links li {
    list-style-type: none;
}

.footer-content a {
    color:var(--main-color);
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

.contact {
    margin-top: 40px;
}

.copyright {
    align-self: flex-end;
    margin-left: 100px;
}

.help-btn {
    position: fixed;
    font-size: 13px;
    color: var(--main-color);
    background-color: var(--link-color);
    padding: 13px 16px;
    border-radius: 15px;
    border: none;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

/* * {
    outline: 1px solid orangered;
} */


@media screen and (max-width: 767px) {
    .hero h1 {
        font-size: 2rem;
    }

    img {
        max-width: 40px;
    }

    .content-text p {
        width: 16em;
    }

    .footer {
        flex-direction: column;
    }

    .footer-content {
        margin-bottom: 40px;
    }

    nav .right-nav button{
        display: none;
    }

    .hamburger {
        display: block;
    }

    nav .right-nav.visible ~ .hamburger {
        display: none;
    }

    .burger {
        display: flex;
        position: relative;
        width: 2rem;
        height: 1.5rem;
        border-radius: 3px;
        box-shadow: 0 0 grid(1) rgba(0, 0, 0, 0.25), 0 0 grid(0.2) rgba(0, 0, 0, 0.1);
        background-color: var(--color-white);
        margin: 0.5rem;
    }
    
    .burger span {
        user-select: none;
        position: absolute;
        margin: 0.0625rem auto 0.525rem -0.75rem;
        text-indent: -999em;
        top: 50%;
        left: 50%;
        margin-top: -0.0625rem;
        cursor: pointer;
    }
    
    .burger span, .burger span:before, .burger span:after {
        display: block;
        width: 1.5rem;
        height: 0.125rem;
        background-color: var(--main-color);
        transition: 0.3s;
        opacity: 1;
    }
    
    .burger span:before, .burger span:after {
        position: absolute;
        content: "";
    }
    
    .burger span:before {
        top: -0.525rem;
    }
    
    .burger span:after {
        top: 0.525rem;
    }
    
    .burgers {
        display: flex;
    }
    
    .burger4 input:checked + span:before, .burger4 input:checked + span:after {
        top: 0px;
        margin-top: -0.5875rem;
    }
    
    .burger4 input:checked + span {
        animation: menuCloseMiddle--base 0.5s forwards;
    }
    
    .burger4 input:checked + span:before {
        animation: menuCloseMiddle--before 0.5s forwards;
    }
    
    .burger4 input:checked + span:after {
        animation: menuCloseMiddle--after 0.5s forwards;
    }
    
    @keyframes menuCloseMiddle--base {
        0% {
            background-color: rgb(0, 0, 0);
        }
        80% {
            background-color: rgb(0, 0, 0);
        }
        100% {
            background-color: rgba(0, 0, 0, 0);
        }
    }
    
    @keyframes menuCloseMiddle--after {
        0% {
            transform: translateY(0) rotate(0);
        }
        80% {
            transform: translateY(0.525rem) rotate(0);
        }
        100% {
            transform: translateY(0.525rem) rotate(45deg);
        }
    }
    
    @keyframes menuCloseMiddle--before {
        0% {
            transform: translateY(0) rotate(0);
        }
        80% {
            transform: translateY(0.525rem) rotate(0);
        }
        100% {
            transform: translateY(0.525rem) rotate(-45deg);
        }
    }
}